# Postgres
POSTGRES_DB=ecom
POSTGRES_USER=ecom
POSTGRES_PASSWORD=ecom123

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@ecom.dev
PGADMIN_DEFAULT_PASSWORD=admin123

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin123
